APP_NAME="Hafalan Tracker"
APP_ENV=local
APP_URL=http://localhost/hafalan-tracker/public
APP_TIMEZONE=Asia/Jakarta

DB_HOST=localhost
DB_NAME=hafalan_tracker
DB_USER=root
DB_PASS=

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=user321@gmail.local
MAIL_PASSWORD=app_password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@hafalan.com
MAIL_FROM_NAME="Hafalan Tracker"